[submodule "VulkanAbstractionPractice/vendor/GLFW"]
	path = GraphicsAbstraction/vendor/GLFW
	url = https://github.com/FacelessTiger/GLFW
[submodule "VulkanAbstractionPractice/vendor/glm"]
	path = GraphicsAbstraction/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanAbstractionPractice/vendor/imgui"]
	path = GraphicsAbstraction/vendor/imgui
	url = https://github.com/FacelessTiger/imgui
[submodule "VulkanAbstractionPractice/vendor/VkBootstrap"]
	path = GraphicsAbstraction/vendor/VkBootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "GraphicsAbstraction/vendor/spdlog"]
	path = GraphicsAbstraction/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GraphicsAbstraction/vendor/tracy"]
	path = GraphicsAbstraction/vendor/tracy
	url = https://github.com/FacelessTiger/tracy
[submodule "GraphicsAbstraction/vendor/vma"]
	path = GraphicsAbstraction/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
