[submodule "VulkanAbstractionPractice/vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/FacelessTiger/GLFW
[submodule "VulkanAbstractionPractice/vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanAbstractionPractice/vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/FacelessTiger/imgui
[submodule "GraphicsAbstraction/vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GraphicsAbstraction/vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "GraphicsAbstraction/vendor/fastgltf"]
	path = vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
